<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>テストフォーム</title>
</head>
<body>
<!--
    <h1>サンプルフォームです。</h1>
    <form action="/sampleform" method="POST">
        <input name="data1"></input>
        <button type="submit">送信</button>
    </form>
-->
<form action="/sampleform" method="POST">
<ul>
    <li>
        <p>子育てのしやすさや教育の充実度についてどう思うか</p>
        <label><input name="q1" type="radio" value=1 required="" />1. 不満</label><br />
        <label><input name="q1" type="radio" value=2 />2.</label><br />
        <label><input name="q1" type="radio" value=3 />3.</label><br />
        <label><input name="q1" type="radio" value=4 />4.</label><br />
        <label><input name="q1" type="radio" value=5 />5. 満足</label>
    </li>
    <li>
        <p>病気になったときに安心できるか</p>
        <label><input name="q2" type="radio" value=1 required="" />1. 不満</label><br />
        <label><input name="q2" type="radio" value=2 />2.</label><br />
        <label><input name="q2" type="radio" value=3 />3.</label><br />
        <label><input name="q2" type="radio" value=4 />4.</label><br />
        <label><input name="q2" type="radio" value=5 />5. 満足</label>
    </li>
    <li>
        <p>治安の良さについてどう思うか</p>
        <label><input name="q3" type="radio" value=1 required="" />1. 不満</label><br />
        <label><input name="q3" type="radio" value=2 />2.</label><br />
        <label><input name="q3" type="radio" value=3 />3.</label><br />
        <label><input name="q3" type="radio" value=4 />4.</label><br />
        <label><input name="q3" type="radio" value=5 />5. 満足</label>
    </li>
    <li>
        <p>自然や周囲の環境についてどう思うか</p>
        <label><input name="q4" type="radio" value=1 required="" />1. 不満</label><br />
        <label><input name="q4" type="radio" value=2 />2.</label><br />
        <label><input name="q4" type="radio" value=3 />3.</label><br />
        <label><input name="q4" type="radio" value=4 />4.</label><br />
        <label><input name="q4" type="radio" value=5 />5. 満足</label>
    </li>
    <li>
        <p>買い物に便利か</p>
        <label><input name="q5" type="radio" value=1 required="" />1. 不満</label><br />
        <label><input name="q5" type="radio" value=2 />2.</label><br />
        <label><input name="q5" type="radio" value=3 />3.</label><br />
        <label><input name="q5" type="radio" value=4 />4.</label><br />
        <label><input name="q5" type="radio" value=5 />5. 満足</label>
    </li>
    <li>
        <p>街の飲食店についてどう思うか</p>
        <label><input name="q6" type="radio" value=1 required="" />1. 不満</label><br />
        <label><input name="q6" type="radio" value=2 />2.</label><br />
        <label><input name="q6" type="radio" value=3 />3.</label><br />
        <label><input name="q6" type="radio" value=4 />4.</label><br />
        <label><input name="q6" type="radio" value=5 />5. 満足</label>
    </li>
    <li>
        <p>駅へのアクセスや交通機関の利用についてどう思うか</p>
        <label><input name="q7" type="radio" value=1 required="" />1. 不満</label><br />
        <label><input name="q7" type="radio" value=2 />2.</label><br />
        <label><input name="q7" type="radio" value=3 />3.</label><br />
        <label><input name="q7" type="radio" value=4 />4.</label><br />
        <label><input name="q7" type="radio" value=5 />5. 満足</label>
    </li>
    </ul>
        <input type="submit" value="判定！" />
    </form>
</body>
</html>
</html>